@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@font-face {
  font-family: 'PP Valve';
  src: url('/fonts/PPValve-PlainMedium.otf') format('opentype');

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, 
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;  
  background: black;
  font-family: 'Lato', sans-serif !important;   
}


.home-bg,
.quiz-bg,
.result-bg {
  position: relative;        
  width: 100vw;              
  height: 100vh;             
  overflow: hidden;          
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.container {
  max-width: 480px;
  margin: 0 auto;
  color:white;
}

.quiz-navigation{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  margin-top: 20px;
  z-index: 1000;
}

.button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1rem;
  text-decoration: none !important;
  position: relative;     
  z-index: 999 !important;
}

.button.selected {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
}


.back-button {
  width:30%;
  height:20%;
}

.back-to-home{
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

}

.home-bg {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #75155f, #022748, #75155f);
  position: relative
}

.quiz-bg {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  background: linear-gradient(135deg, #471751, #022748, #471751);
  min-height: 100vh;
  position: relative

}
.result-bg {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background:
  url('/result-bg.webp') center/cover no-repeat,
  linear-gradient(135deg, #471751, #022748, #471751);
  position: relative;
}

.banner {
  width: 100%;
  height: 5vh;
  background: #a32e86;  
  color: rgba(255, 175, 228, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  font-weight: 700;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  z-index: 10;

}

.home-container{
  padding:30px;
  transform: rotate(-5deg);
  position: relative;
  z-index: 1000;
}

.home-container p{
  padding-bottom:5px;
}

.home-title{
  color:#13eaf0;
  font-family: 'PP Valve', sans-serif;
  font-size:30px;
}

.home-subtitle{
  color: #fff;
}

.home-button{
  margin-top: 30px;
  text-decoration: none !important;
  position: relative;     
  z-index: 999 !important;
  background-color: #13eaf0;
  /* border-radius: 5px; */
}
.home-spot{
  opacity: 0.5;
  mix-blend-mode:screen;
  top:0px;
  left:0px;
  width:100%;
  height:500px;
  z-index: 0;
  position: absolute;
}

.home-spot img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  z-index: 0;
}

.home-bg-top{
  opacity: 1;
  top:0px;
  left:0px;
  width:100%;
  height:300px;
  z-index: 1;
  position: absolute;
}
.home-bg-top img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  z-index: 0;
}
.home-bg-bottom{
  opacity: 0.5;
  bottom: 0px; 
  left:0px;
  width:100%;
  height:200px;
  z-index: 0;
  position: absolute;
}

.home-bg-bottom img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  z-index: 0;
  position: absolute;
}

/* css for quiz page */
.quiz-container{
  padding:30px;
}

.quiz-container p{
  padding-top: 5px;
  padding-bottom: 20px;
}

.quiz-bg-top{
  opacity: 0.5;
  top:0px;
  left:0px;
  width:100%;
  height:300px;
  z-index: 0;
  position: absolute;
}

.quiz-bg-top img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  z-index: 0;
}
.quiz-title{
  color:#fe4cc3;
}
.options-container{
  margin-top:10px;
}
.quiz-footer{
  color:white;
}

.quiz-bg-bottom{
  opacity: 0.5;
  bottom: 20px; 
  left:0px;
  width:100%;
  height:50%;
  z-index: 0;
  position: absolute;
}

.quiz-bg-bottom img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  z-index: 0;
}


/* css for results page */

.result-container{
  position: relative;
  padding: 30px 30px 50px 30px;
  margin-bottom:60px;
  z-index: 1000;
}
.result-container-subtitle{
  font-size:24px
}


.result-persona-bg{
  opacity: 0.5;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  z-index: 0;
  position: absolute;
}
.result-persona-bg img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  z-index: 0;
}

.result-title{
  color:#fe4cc3;
  font-family: 'PP Valve', sans-serif;
  line-height: 1;
  margin-top: 5px;
  font-size: 36px;
}

.persona-container{
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;

}

.persona-description{
  padding-top: 5px;
  font-size:12px;
}

.back-to-home-button{
  text-decoration: none !important;
  position: relative;     
  z-index: 999 !important;
  background-color: #13eaf0;
}


.desc-boxes-vertical {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.desc-box {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.desc-box-1 { background: #991b6f; }
.desc-box-2 { background: #c11889; }
.desc-box-3 { background: #fe4cc3; }
@media (max-height: 670px) {
  .result-container-subtitle{
    margin-top: 5px;
    font-size: 13px;
  }
  .result-title{
    font-size: 25px;
  }
  .result-container {
    padding: 60px 30px 30px 30px;
  }
}


@media (max-height: 710px) {
  .result-container-subtitle{
    margin-top: 10px;
    font-size: 18px;
  }
  .result-title{
    font-size: 25px;
  }
  .desc-box {
    font-size:13px;
  }
  .persona-img{
    width :100px !important;
    height: 200px !important;
  }
}


@media (min-height: 800px) {
  .result-container{
    padding: 30px;
  }
  .persona-container{
    margin:20px;
  }
  .desc-box {
    font-size: 15px;
  }
  .persona-img{
    width :120px !important;
    height: 250px !important;
  }
  .result-container-subtitle{
    margin-top: 10px;
    font-size:20px;
  }

}