body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: black;
}
.container {
  padding: 1rem;
  max-width: 480px;
  margin: 0 auto;
  color:#13eaf0

}

.button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1rem;
}

.home-bg {
  background: url('../../public/quiz-bg.png') center/cover no-repeat;
  min-height: 100vh;
}
.quiz-bg {
  background: url('../../public/quiz-bg.png') center/cover no-repeat;
  min-height: 100vh;
}
.result-bg {
  background: url('../../public/quiz-bg.png') center/cover no-repeat;
  min-height: 100vh;
}